{%- if results.GraphResultsBundle.overloads_hit != empty -%}
<h3>Limits Hit:</h3>
<ul>
  {%- for overload in results.GraphResultsBundle.overloads_hit -%}
  <li>{{overload.sym}}: {{ overload.kind }}: {{ overload.exist }} exist, {{ overload.included }} included.
  {%- if overload.local_limit > 0 %} Local limit: {{ overload.local_limit }}{% endif -%}
  {%- if overload.global_limit > 0 %} Global limit: {{ overload.global_limit }}{% endif -%}
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}
{% for graph in results.GraphResultsBundle.graphs %}
{{ graph.graph }}
{% endfor %}
