{%- capture title %}Q: {{ query | escape }}{% endcapture -%}
{% include 'header_query.liquid' title: title, autofocus: true %}
<div id="scrolling">
  <div id="content" class="content" data-no-results="No results for current query.">
    <div>
      {% include 'breadcrumbs.liquid' path: "", hidden: false %}
      {% include 'navigation_panel.liquid' expanded: false %}
    </div>
    {% for result_pair in results %}
      {% case result_pair[0] %}
        {% when "FlattenedResultsBundle" %}
          {% include 'query_results/rb_root.liquid' %}
        {% when "GraphResultsBundle" %}
          {% include 'query_results/graph_root.liquid' %}
        {% when "SymbolGraphCollection" %}
          {% include 'query_results/graph_collection_root.liquid' %}
        {% when "SymbolTreeTableList" %}
            {% include 'query_results/symbol_tree_table_list_root.liquid' %}
        {% when "TextFile" %}
          {% include 'query_results/text_file_root.liquid' %}
        {% else %}
          Unhandled results type {{result_pair[0]}}!
        {% endcase %}
      {% endfor %}
      {% if logs != empty -%}
      <fieldset id="query-debug-logs">
        <legend>Logs</legend>
        {%- for log in logs -%}
        <pre>
          {{- log | json | escape -}}
        </pre>
        {%- endfor -%}
      </fieldset>
      {%- endif %}
      <fieldset id="query-debug-results-json" aria-hidden="true">
        <legend>results JSON</legend>
        <pre id="query-debug-results-json-pre">
        </pre>
      </fieldset>
  </div>
  <script>
var SYM_INFO = {{ SYM_INFO_STR }};
var QUERY_RESULTS_JSON = {{ results | json }};
// Debug logs are always available for queries, so always set the variable to true;
// other pages will not have the variable defined and so the page will see undefined as false.
var IS_DEBUG_LOGS_AVAILABLE = true;
</script>
  {% include 'scroll_footer.liquid' search: "query" %}
</div>
{% include 'footer.liquid' %}
